@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.bg-container {
  /* background: linear-gradient(135deg, #6a11cb, #53d4b4, #66e1e6); */
  /* background: linear-gradient(135deg, #ff512f, #dd2476, #83407c); */
  background: linear-gradient(135deg, #bbdefb, #e0f2f1, #ffecb3);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  color: #e0e0e0;
  border: 1ps solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.37);
  padding: 20px;
  backdrop-filter: blur(10px);
}

.btn {
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #f8f8f8;
  color: #343434;
  width: 90px;
  font-size: 12px;
}

.active {
  background-color: #c7c7c7;
}

select {
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-bottom: 10px;
  outline: none;
  cursor: pointer;
}

input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.9);
  outline: none;
  cursor: auto;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.result {
  color: #343434;
  border: 1 px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.convert-btn {
  background-color: #4caf50;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 15px rgba(172, 252, 175, 0.9);
  color: #ffffff;
}

.convert-btn:hover {
  background-color: #45a049;
}

.reset-btn {
  background-color: #f44336;
  transition: background-color 0.3s ease;
  color: #ffffff;
}

.reset-btn:hover {
  background-color: #da190b;
}
